# ==== Build output (match in any subfolder) ====
**/Debug/
**/Release/
**/.build/
**/*.o
**/*.obj
**/*.elf
**/*.axf
**/*.bin
**/*.hex
**/*.map
**/*.lst
**/*.d

# ==== IDE / workspace / temp ====
**/.settings/
**/.metadata/
*.launch
*.mxproject
*.user
*.pydevproject

# ==== STM32Cube / CubeMX ====
*.ioc.backup
*.ioc.user

# ==== OS junk ====
.DS_Store
Thumbs.db

# ==== Editor backups ====
*~
*.swp
*.swo
*.tmp
*.log
